{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  </head>
  <body>
    <nav class="bg-white shadow-lg">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between h-16 items-center">
                <div class="flex">
                  <div class="flex-shrink-0 flex items-center">
                    <a href="#" class="text-2xl font-bold text-[#4F46E5]">Event Management</a>
                    </div>
                    <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
                    <a href="#" class="text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium hover:border-[#4F46E5]">Home</a>
                    <a href="{% url 'create-group' %}" class="text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium hover:border-[#4F46E5]">Create Group</a>
                    <div class="relative group items-center">
                          <a href="{% url 'group-list' %}">
                            <button class="text-gray-900 inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium hover:border-[#4F46E5] focus:outline-none">
                            Group List
                        </button>
                          </a>
                     
                        
                        </div>
                         </div>
                        </div>
                        {% if user.is_authenticated %}
                            <div class="hidden sm:ml-6 sm:flex sm:items-center">
                                    <a href="{% url 'create-event' %}">
                                        <button class="bg-[#4F46E5] text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-indigo-700">Create Event</button>
                                    </a>
                                    <a href="{% url 'dashboard' %}">
                                        <button class="ml-4 bg-[#E0E7FF] text-[#4F46E5] px-3 py-2 rounded-md text-sm font-medium hover:bg-indigo-200">Dashboard</button>
                                    </a>
                                    <form action="{% url 'sign-out' %}" method="POST">
                                        {% csrf_token %}
                                        <button class="ml-4 bg-[#E0E7FF] text-[#4F46E5] px-3 py-2 rounded-md text-sm font-medium hover:bg-indigo-200">Sign Out</button>
                                    </form>
                            </div>
                            {% else %}
                                <div class="hidden sm:ml-6 sm:flex sm:items-center">
                        <a href="{% url 'sign-up' %}">
                            <button class="bg-[#4F46E5] text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-indigo-700">Register</button>
                        </a>
                        <a href="{% url 'sign-in' %}">
                            <button class="ml-4 bg-[#E0E7FF] text-[#4F46E5] px-3 py-2 rounded-md text-sm font-medium hover:bg-indigo-200">Login</button>
                        </a>
                    </div>
                        {% endif %}
                    
                <div class="-mr-2 flex items-center sm:hidden">
                <button id="mobile-menu-button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                    </svg>
                </button>
             </div>
            </div>
            </div>
            <div id="mobile-menu" class="sm:hidden hidden">
            <div class="pt-2 pb-3 space-y-1">
                <a href="#" class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-900 hover:border-[#4F46E5]">Home</a>
                <a href="#" class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-900 hover:border-[#4F46E5]">About</a>
                <a href="{% url 'dashboard' %}?type=total-event" class="block pl-3 pr-4 py-2 border-l-4 border-transparent text-base font-medium text-gray-900 hover:border-[#4F46E5]">Events</a>
            </div>
            <div class="mb-2">
                        <a href="{% url "create-event" %}">
                        <button class="bg-[#4F46E5] text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-indigo-700">Create Event</button>

                        </a>
                        <a href="{% url "dashboard" %}">
                            <button class="ml-4 bg-[#E0E7FF] text-[#4F46E5] px-3 py-2 rounded-md text-sm font-medium hover:bg-indigo-200">Dashboard</button></a>
                </div>
        </div>
    </nav>

    <main>
      {% block content %}
        {% include "admin/user_list.html" %}
      {% endblock content %}
    </main>

    <script>
      document
        .getElementById("menu-toggle")
        .addEventListener("click", function () {
          document.getElementById("mobile-menu").classList.toggle("hidden");
        });

      document
        .getElementById("user-menu-button")
        .addEventListener("click", function () {
          document.getElementById("user-menu").classList.toggle("hidden");
        });

      // Close the dropdown when clicking outside
      window.addEventListener("click", function (e) {
        if (!document.getElementById("user-menu-button").contains(e.target)) {
          document.getElementById("user-menu").classList.add("hidden");
        }
      });
    </script>
  </body>
</html>